* {
    margin: 0%;
    padding: 0%;
    }

body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  
}


.container{
    width: 100%;
    min-height: 100vh;
    display: grid;
    place-items: center;
}

.home-container{
    text-align: center;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 50px;
    border-radius: 10px;
}
nav {
    background-color: #333;
    overflow: hidden;
    color: white;
}
nav a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
nav a:hover {
    background-color: #ddd;
    color: black;
}

.login-container{
    text-align: center;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 80px;
    border-radius: 10px;
    border: 2px solid black;
}
.form-group{
    margin-bottom: 15px;
}
button{
    padding: 10px 20px;
    background-color: red;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.login-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;          /* espacio entre el formulario y la imagen */
    margin-top: 50px;
}

.login-image img {
    width: 550px;
    height: auto;
    border-radius: 10px;
    border: 3px solid #000; /* opcional */
    justify-content:space-around;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: black;
  color: white;
  z-index: 999; /* o algún número alto */
}
footer p {
  margin: 5px;
  text-align: center;
}