{% extends "base.html" %}

{% load static %}

{% block title %}Categorías de Productos{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/categorias.css' %}">
    
{% endblock %}

{% block content %}
    <div class="category-layout">  
        
        <aside class="aside">
            <div class="cate"><label>Cables</label></div>
            <div class="cate"><label>HUB USB</label></div>
            <div class="cate"><label>Componentes</label></div>
            <div class="cate"><label>Computadoras</label></div>

            <div class="cate"><label>Conectividad</label></div>
            <div class="cate"><label>Electronica</label></div>
            <div class="cate"><label>Enegia</label></div>
            <div class="cate"><label>PDU</label></div>
            <div class="cate"><label>Gaming</label></div>
            <div class="cate"><label>Impresión</label></div>
            <div class="cate"><label>Punto de Venta </label></div>
            <div class="cate"><label>Hogar y linea blanca</label></div>
            <div class="cate"><label>Accesorios</label></div>

        </aside>
        <section class="products-list">
            hjjhj
        </section>
    </div>
{% endblock content %}