<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/home.css">
    <title>Home</title>
</head>
<body>
    
<div class="konoha-sidebar">
    <div class="konoha-header">
        <span class="konoha-icon"> <img src="/static/imagenes/logo.png" alt="" width="50" height="50" ></span>
        <h2>Konoha Panel</h2>
    </div>

    <ul class="konoha-menu">
        <li>🏠Home</li>
        <li>🧭Explore</li>
        <li>🎬Reels</li>
        <li>🔔Notificaciones</li>
        <li>✍️Create</li>
        <li>👤Profile</li>
        <li>⋯More</li>
    </ul>
</div>


</body>
</html>