{% extends "base.html" %}
{% load static %}

{% block title %}Pedidos{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/pedidos.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
{% endblock extra_css %}

{% block content %}
<div class="user-dashboard-layout">
    

    <main class="content">

       

        <h2 class="title">Pedidos</h2>

        

        <section class="orders">
            <table>
                <thead>
                    <tr>
                        <th>Num.Pedido</th>
                        <th>Cliente</th>
                        <th>Fecha</th>
                        <th>Estado</th>
                        <th>Detalles</th>
                    </tr>
                </thead>

                <tbody>
                    <tr>
                        <td>1</td>
                        <td><img class="user-img" src="{% static 'imagenes/user1.jpg' %}"> Username</td> 
                        <td>04/12/2025</td>
                        <td><span class="badge delivered">Entregado</span></td>
                        <td><i class="fa fa-eye"></i></td>
                    </tr>

                    <tr>
                        <td>2</td>
                        <td><img class="user-img" src="{% static 'imagenes/user2.jpg' %}"> Username</td>
                        <td>04/10/2025</td>
                        <td><span class="badge process">En Proceso</span></td>
                        <td><i class="fa fa-eye"></i></td>
                    </tr>

                    <tr>
                        <td>3</td>
                        <td><img class="user-img" src="{% static 'imagenes/user3.jpg' %}"> Username</td>
                        <td>04/09/2025</td>
                        <td><span class="badge delivered">Entregado</span></td>
                        <td><i class="fa fa-eye"></i></td>
                    </tr>

                    <tr>
                        <td>4</td>
                        <td><img class="user-img" src="{% static 'imagenes/user4.jpg' %}"> Username</td>
                        <td>04/08/2025</td>
                        <td><span class="badge delivered">Entregado</span></td>
                        <td><i class="fa fa-eye"></i></td>
                    </tr>
                </tbody>
            </table>
        </section>

        <div class="pagination">
            <span>&lt;</span>
            <span>1</span>
            <span class="active">2</span>
            <span>3</span>
            <span>4</span>
            <span>10</span>
            <span>11</span>
            <span>&gt;</span>
        </div>

        

        

    </main>
</div>
{% endblock content %}